// @import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
@font-face {
    font-family: Fira Code;
    src: url('../font/Fira_Code/static/FiraCode-Regular.ttf');
}

$primary-font: Fira Code;
//Primary Font mixin
@mixin primary-font( $family: $primary-font,
$size: 16px,
$weight: 400,
$lineHeight: normal,
$style: normal,
) {
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
    line-height: $lineHeight;
    font-style: $style;
}