// Abstracts / Variables
@use "../abstracts/root" as *;
:root {
    --primary-color: #{map-get($color, primary)};
    --secondary-color: #{map-get($color, secondery)};
    --tertiary-color: #{map-get($color, tertiary)};
    --bg-color: #{map-get($color, bg)};
    --logo-color: #{map-get($color, tertiary)};
    --img-filter: #{map-get($color, imgFilter)};
}

[themeMode="light"] {
    --primary-color: #{map-get($lightMode, primary)};
    --secondary-color: #{map-get($lightMode, secondery)};
    --tertiary-color: #{map-get($lightMode, tertiary)};
    --bg-color: #{map-get($lightMode, bg)};
    --logo-color: #{map-get($lightMode, primary)};
    --img-filter: #{map-get($lightMode, imgFilter)};
}