// Abstracts / Variables
@use "../abstracts/root" as *;
.social_media {
    position: absolute;
    left: -122px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    & svg .path_color {
        fill: var(--secondary-color);
    }
    &-wrapper {
        display: flex;
        flex-direction: column;
    }
    // Animation settings
    animation: rope-drop 1s ease-out forwards,
    rope-swing 2s ease-in-out 1s infinite alternate;
    transform-origin: top center; // Ensure the swing rotates around the top
    @keyframes rope-drop {
        0% {
            transform: translateY(-100px); // Start above view
            opacity: 0; // Invisible initially
        }
        100% {
            transform: translateY(0); // Drop to original position
            opacity: 1; // Fully visible
        }
    }
    @keyframes rope-swing {
        0% {
            transform: rotate(0deg); // Start at the center position
        }
        50% {
            transform: rotate(3deg); // Swing to one side
        }
        100% {
            transform: rotate(-3deg); // Swing to the other side
        }
    }
}