// Abstracts / Variables
@use "../abstracts/root" as *;
.title {
    margin-bottom: 48px;
    display: grid;
    grid-template-columns: 85% 15%;
    align-items: center;

  &_text {
    @include primary-font($size: 32px, $weight: 500);
    color: var(--tertiary-color);
    display: flex;
    align-items: center;
    width: 100%;
    & span {
      color: var(--primary-color);
    }
  }
  &_line {
    &::after {
      content: "";
      margin-left: 16px;
      width: 50%;
      height: 1px;
      background-color: var(--primary-color);
    }
  }
  &_link{
    @include primary-font($weight: 500);
    text-align: end;
  }
}
