// Abstracts / Variables
@use "../abstracts/root" as *;

/* -- Container Style */

.overflow_hide {
    overflow: hidden;
    &_X {
        overflow-x: hidden !important;
    }
    &_Y {
        overflow-y: hidden !important;
    }
}

.page_wrapper {
    background-color: var(--bg-color);
    position: relative;
}

.container {
    max-width: 1024px;
    margin: auto;
    display: flex;
    background-color: var(--bg-color);
}

.vh {
    &-100 {
        height: 100vh;
    }
    &-10 {
        height: 10vh;
    }
}

.row-twoFace {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    & .col {
        position: relative;
        display: flex;
    }
    & .col-flow {
        flex-flow: column;
    }
    & .col-justify-right {
        justify-content: right;
    }
}