@use "../abstracts/root" as *;
.header_banner-wrapper {
  position: relative;
}

/*  -- Banner Style Starts -- */

.banner {
  padding-top: 60px;
  &_title {
    color: var(--tertiary-color);
    @include primary-font($size: 32px, $weight: 600);
    margin: 74px 0 32px 0;
    & span {
      color: var(--primary-color);
    }
  }
  &_textContent {
    color: var(--secondary-color);
    @include primary-font($lineHeight: 25px);
    margin-bottom: 24px;
    max-width: 463px;
  }
  &_imgAndState_wrapper {
    position: relative;
  }
  &_image {
    width: 457px;
    height: 386px;
    filter: var(--img-filter);
  }
}

.current_status {
  position: absolute;
  right: 36px;
  bottom: -34px;
  &_wrapper {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px;
    width: 402px;
    border: 1px solid var(--secondary-color);
    background-color: var(--bg-color);
    z-index: 1;
  }
  &_indicator {
    width: 16px;
    height: 16px;
    background: var(--primary-color);
  }
  &_text {
    @include primary-font($weight: 500);
    & span {
      @include primary-font($weight: 600);
      color: var(--tertiary-color);
    }
  }
  &:hover .cogwheel-icon {
    animation: spin-smooth 1s linear infinite;
  }
  .cogwheel-icon {
    width: 30px;
    height: 30px;
    animation: step-spin 60s steps(60) infinite;
    @keyframes step-spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(1440deg);
      }
    }
    @keyframes spin-smooth {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
    &-wrapper {
      position: absolute;
      right: -15px;
      bottom: -19px;
      z-index: 2;
    }
    &-front {
      fill: var(--primary-color);
    }
    &-circle,
    &-rear {
      fill: var(--bg-color);
    }
  }
}

/*  -- Banner Style Ends -- */

/*  -- Quote Style Starts -- */

.quote {
  position: relative;
  &_wrapper {
    margin: auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &_text {
    @include primary-font($size: 24px, $weight: 500);
    display: inline-flex;
    padding: 32px;
    align-items: flex-start;
    gap: 10px;
    outline: 1px solid var(--secondary-color);
    background: var(--bg-color);
    position: relative;
    & .quote_icon {
      background: var(--bg-color);
      position: absolute;
      z-index: 2;
    }
    [themeMode="light"] & .quote_icon svg path {
      fill: var(--bg-color);
      stroke: var(--primary-color);
      stroke-width: 1px;
    }
    & .quote_icon-top {
      left: 11px;
      top: -16px;
    }
    & .quote_icon-bottom {
      right: 11px;
      bottom: -22px;
    }
  }
  &_author {
    @include primary-font($size: 24px, $weight: 400);
    display: flex;
    padding: 16px;
    align-items: flex-start;
    gap: 10px;
    outline: 1px solid var(--secondary-color);
    background: var(--bg-color);
    position: relative;
    bottom: -1px;
  }
  .paper_plane {
    position: absolute;
    left: 0;
    top: 50vh;
    &-img path {
      fill: var(--primary-color);
    }
    &-img g path {
      filter: brightness(80%);
      fill: var(--primary-color);
    }
    [themeMode="light"] &-img path {
      fill: var(--bg-color);
      filter: none;
      stroke: var(--primary-color);
      stroke-width: 2px;
    }
  }
  .space_item {
    position: absolute;
    & svg {
      fill: var(--primary-color);
    }
    &_bg {
      fill: var(--bg-color);
    }
    &_primary {
      fill: var(--primary-color);
    }
    &-01 {
      top: 80px;
      left: 56px;
    }
    &-02 {
      top: 14%;
      left: 40%;
      -ms-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
    &-03 {
      top: 65px;
      right: 20%;
    }
    &-04 {
      left: 106px;
      bottom: 122px;
    }
    &-05 {
      top: 85%;
      left: 50%;
      -ms-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
    &-06 {
      bottom: 30%;
      right: 10%;
      & svg {
        width: 100px;
        height: 100px;
      }
    }
  }
}

/*  -- Quote Style Ends -- */

/*  -- Projects Style Starts -- */

.projects {
  &_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;
  }
  &_title {
    color: var(--tertiary-color);
  }
}

/*  -- Projects Style Ends -- */
